.img {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.container-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.item {
    width: 200px;
    height: 200px;
    background-color: pink;
    margin-left: 10px;
    position: relative;
}